<template>
    <div id="landing-container" class="is-flex is-centered">
        <h1 class="title is-1 has-text-light">
            Kimchi
        </h1>
        <h2 class="subtitle is-2 has-text-light">
            Like Kimai, but so much better.
        </h2>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class Home extends Vue {
    }
</script>

<style scoped lang="scss">
    #landing-container {
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        padding: 3rem;

        background-image: linear-gradient(141deg, #04a6d7, #209cee 71%, #3287f5);

        h1.title.is-1 {
            font-size: 6rem;
        }
    }
</style>
