<template>
    <LoginForm style="align-self: center; margin-left: auto; margin-right: auto;"></LoginForm>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import LoginForm from "@/components/LoginForm.vue";

    @Component({
        components: {
            LoginForm: LoginForm
        }
    })

    export default class Login extends Vue {
    }
</script>

<style scoped>

</style>