<template>
    <div class="container">
        <div class="columns" style="margin-top: 1.0rem;">
            <div class="column is-three-quarters">
                <template v-if="this.$store.state.projects.currentProject !== null && !projectSelectorShown">
                    <div class="project-title level">
                        <div class="level-left">
                            <div class="project-title title is-2" @click="() => projectSelectorShown = true">
                                {{this.$store.state.projects.currentProject.name}}
                            </div>
                            <b-tag>
                                {{this.$store.state.projects.currentProject.company.name}}
                            </b-tag>
                        </div>
                    </div>
                </template>
                <template v-if="this.$store.state.projects.currentProject === null || projectSelectorShown">
                    <ProjectSelect @selected="() => projectSelectorShown = false"></ProjectSelect>
                </template>
            </div>

            <div class="column">
                <b-datepicker inline class="is-pulled-right" :first-day-of-week="1"></b-datepicker>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import ProjectSelect from "../components/ProjectSelect.vue";

    @Component({
        components: {
            ProjectSelect
        },
    })
    export default class Timesheet extends Vue {
        projectSelectorShown: boolean = true;
    }
</script>

<style scoped lang="scss">
    .project-title {
        &.title {
            padding: 1rem;
            margin-left: -1rem;
            margin-right: .5rem;
            margin-bottom: 0;

            &:hover {
                background: whitesmoke;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        &.level {
            margin-top: -1rem;
        }
    }

    .container {
        /*padding-top: 2rem;*/
        /*margin: 0 3rem;*/
        /*width: 100%;*/
    }
</style>

<style lang="scss">
    .datepicker-cell {
        &.is-selected {
            background-color: #3273dc !important;
        }

        &.is-today {
            border: solid 1px #3273dc !important;
        }
    }
</style>