<template>
  <div class="card login-form">
    <div class="card-header">
      <p class="card-header-title">
        Login
      </p>
    </div>
    <div class="card-content is-flex">
      <b-field :type="inputFieldsInvalid ? 'is-danger' : ''">
        <b-input placeholder="Username" icon="user" v-model="username" @keyup.enter.native="login"/>
      </b-field>
      <b-field :type="inputFieldsInvalid ? 'is-danger' : ''">
        <b-input placeholder="Password" type="password" password-reveal icon="lock" v-model="plainPassword"
                 @keyup.enter.native="login"/>
      </b-field>
      <button ref="loginButton" class="button is-link is-expanded" @click="login">Login</button>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component
  export default class LoginForm extends Vue {
    username: string = '';
    plainPassword: string = '';
    inputFieldsInvalid: boolean = false;

    $refs: {
      loginButton: Element;
    };

    login() {
      this.$refs.loginButton.classList.add('is-loading');

      this.$store.dispatch('auth/login', {username: this.username, password: this.plainPassword})
        .then(this.success)
        .catch(this.error);
    }

    success() {
      this.$refs.loginButton.classList.remove('is-loading');
      this.$router.replace('/home');

      this.$toast.open({
        duration: 3000,
        position: 'is-bottom',
        message: `Welcome, ${this.$store.state.auth.currentUser}!`,
        type: 'is-success'
      });
    }

    error() {
      this.$refs.loginButton.classList.remove('is-loading');

      this.inputFieldsInvalid = true;

      this.$toast.open({
        duration: 3000,
        position: 'is-bottom',
        message: 'Wrong credentials',
        type: 'is-danger'
      });
    }
  }
</script>

<style scoped lang="scss">
  .login-form {
    .card-content {
      flex-direction: column;
    }
  }
</style>