<template>
    <b-field>
        <b-autocomplete ref="dropdown" @select="setCurrentProject" :open-on-focus="true" :data="availableProjects"
                        field="name" :loading="loading" :disabled="loading" icon="tasks">
            <template slot-scope="props">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            {{props.option.name}}
                        </div>
                    </div>
                    <div class="level-right">
                        <b-tag>{{props.option.company.name}}</b-tag>
                    </div>
                </div>
            </template>
        </b-autocomplete>
    </b-field>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Project} from '../types/projects';

    @Component
    export default class ProjectSelect extends Vue {
        public loading = false;

        public $refs: {
          dropdown: Vue;
        };

        get availableProjects() {
            return this.$store.state.projects.availableProjects;
        }

        get currentProject() {
            return this.$store.state.projects.currentProject;
        }

        private setCurrentProject(project: Project) {
            this.$store.commit('projects/setCurrentProject', project);
            this.$emit('selected');
        }

        private mounted() {
            if (this.availableProjects.length === 0) {
                this.loading = true;
                this.$store.dispatch('projects/loadAvailableProjects')
                    .then(() => this.loading = false)
                    .catch(() => this.$toast.open({
                        message: 'Projects could not be loaded',
                        type: 'is-danger',
                        position: 'is-bottom',
                    }));
            }

            if (this.currentProject) {
                // @ts-ignore
                this.$refs.dropdown.value = this.currentProject.name;
            }
        }
    }
</script>

<style lang="scss">
    .v-select {
        width: 100%;

        .dropdown-toggle {
            width: 100% !important;
        }
    }
</style>