<template>
    
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component
    export class TimesheetTable extends Vue {
        columns = {
            
        }
    }
</script>

<style scoped lang="scss">

</style>