<template>
  <div id="app">
    <nav class="navbar has-shadow is-spaced">
      <div class="container">
        <div class="navbar-brand">
          <router-link to="/" class="navbar-item">
            <fa-icon :icon="['far', 'user-clock']" size="2x" class="mr-3"/>
            <h3 class="title is-5">Kimchi</h3>
          </router-link>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="toggleMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="main-nav" class="navbar-menu">
          <div class="navbar-start ml-5" v-if="loggedIn">
            <router-link to="/home" class="navbar-item" active-class="is-active">
              <fa-icon :icon="['far', 'home']" class="mr-3"/>
              Dashboard
            </router-link>
            <router-link to="/times" class="navbar-item" active-class="is-active">
              <fa-icon :icon="['far', 'clock']" class="mr-3"/>
              Times
            </router-link>
            <router-link to="/export" class="navbar-item" active-class="is-active">
              <fa-icon :icon="['far', 'download']" class="mr-3"/>
              Export
            </router-link>
          </div>
          <div class="navbar-end" v-if="!loggedIn">
            <router-link to="/login" class="navbar-item" active-class="is-active">
              <fa-icon :icon="['far', 'sign-in']" class="mr-3"/>
              Login
            </router-link>
          </div>
          <div class="navbar-end" v-if="loggedIn">
            <router-link to="/admin" class="navbar-item" active-class="is-active">
              <fa-icon :icon="['far', 'wrench']" class="mr-3"/>
              Admin
            </router-link>
            <a href="#" class="navbar-item" @click="logout">
              <fa-icon :icon="['far', 'sign-out']" class="mr-3"/>
              Logout
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-container">
      <router-view/>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {LOGOUT} from "./store/modules/auth/mutation-types";
  import {KimchiAuthState} from './store/modules/auth/state';
  import {State, namespace} from "vuex-class";

  const auth = namespace('auth');

  @Component
  export default class App extends Vue {
    @State('auth') authState!: KimchiAuthState;
    @auth.Mutation(LOGOUT) logoutMutation!: Function;

    get loggedIn() {
      return !!this.authState.authToken;
    }

    toggleMenu(event: MouseEvent & { target: Element }) {
      event.target.classList.toggle('is-active');
      document.querySelector('#main-nav').classList.toggle('is-active');
    }

    logout() {
      this.logoutMutation();

      this.$toast.open({
        message: 'Goodbye!',
        position: 'is-bottom',
        duration: 3000
      });

      this.$router.push('login');
    }
  }
</script>

<style lang="scss">
  @import "scss/bulma-theme";
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&subset=latin-ext');

  #app {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  /*.title {*/
  /*font-family: 'Space Mono',monospace;*/
  /*}*/

  .mr-3 {
    margin-right: .5rem;
  }

  .ml-5 {
    margin-left: 2rem;
  }
</style>
