$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";

@import "~bulma/sass/utilities/_all";

@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/fa-regular";

$eigengrau: #16161d;

$navbar-item-active-background-color: $eigengrau;
$navbar-item-active-color: white;
$navbar-item-active-hover-background-color: lighten($eigengrau, 20%);

.navbar-item.is-active:hover {
  background-color: $navbar-item-active-hover-background-color;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 52px);
}

@media screen and (min-width: 1088px){
  .main-container {
    min-height: calc(100vh - 52px - 2rem);
  }
}

@import "~bulma";
@import "~buefy/src/scss/buefy";